[Unit]
Description=funnel-runtime.service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=__APP_PATH__
EnvironmentFile=__ENV_FILE_PATH__
Environment=NODE_ENV=production
Environment=PATH=__BUN_BIN_PATH__:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=__BUN_PATH__ --bun next start --hostname 127.0.0.1 --port __APP_PORT__
Restart=always
RestartSec=5
KillSignal=SIGTERM
TimeoutStopSec=15
SyslogIdentifier=funnel-runtime
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
